/* You can add global styles to this file, and also import other style files */

body{
    background-image: url("https://e0.pxfuel.com/wallpapers/52/830/desktop-wallpaper-food-background-food-food-recipes-food-menu-greek-food.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}
